{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="">Annuler une sortie</h2>
    <div class="col-3">
        <p>Nom de la sortie: </p>
        <p>Date de la sortie: </p>
        <p>Campus: </p>
        <p>Lieu: </p>
        <p>Motif: </p>
        <textarea style="width: 300px ; height:100px"></textarea>
    </div>

{% endblock %}