{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    {{ form_start() }}
    {{ form_widget() }}
    <button>Enregistrer</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>
    {{ form_end() }}

{% endblock %}